---
import Layout from "../layouts/Layout.astro";
import Createacount from "../sections/createacount.astro";
import Logeo from "../sections/logeo.astro";
import Logito from "../sections/logofijo.astro";
---

<Layout title="Create tu cuenta">
    <main>
      <div>
        <Logito />
        <Createacount />
      </div>
    </main>
</Layout>