<header class="py-3 px-10 flex items-center justify-between fixed top-0 min-w-full lg:w-full">
    <div class="flex flex-1 ">
        <a href="principal">
            <img class="max-w-full h-20 w-48" src="public/logo.svg" alt="logo">
        </a>
    </div>
        <nav>
            <ul class="flex [&>li>a]:text-1xl [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
                <li><a href="principal">INICIO</a></li>
                <li><a href="#">TRADICIÓN</a></li>
                <li><a href="#">CAMPO</a></li>
                <li><a href="#">BIO POLLO</a></li>
                <li><a href="#">BIENESTAR ANIMAL</a></li>
                <li><a href="#">RECETAS</a></li>
            </ul>
        </nav>
        <nav class="flex flex-grow justify-end basis-0">
            <ul class="flex [&>li>a]:text-1xl [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 ">
                <li><a href="#">SOPORTE</a></li>
                <li><a href="login1">LOGIN</a></li>
                <li><a href="#">CONTACTOS</a></li>
            </ul>
        </nav>
</header>