<header class=" px-10 flex items-center justify-between fixed top-0 w-full" >
    <div class="flex flex-grow basis-0">
        <a href="principal">
            <img class=" h-24 w-48" src="public/logo.svg" alt="logo">
        </a>
    </div>
</header>